.auth-page {
  display: flex;
  height: 100vh;
  font-family: var(--font-family);
}

.auth-page__form {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
}

.auth-page__img {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(../assets/wallpaper-cave-red-car.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Whole form */
.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

/* Separate items */
.a1 {
  animation-delay: 1.4s;
}
.a2 {
  animation-delay: 1.5s;
}
.a3 {
  animation-delay: 1.6s;
}
.a4 {
  animation-delay: 1.7s;
}
.a5 {
  animation-delay: 1.8s;
}
.a6 {
  animation-delay: 1.9s;
}

/*  Separate items */
@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/* Whole form */
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    /* padding: 20px 40px; */
    width: 440px;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 640px) {
  .auth-page {
    position: relative;
  }
  .auth-page__form {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px 40px;
  }
  @keyframes left {
    0% {
      opacity: 0;
      width: 0;
    }

    100% {
      opacity: 1;
      width: 100%;
    }
  }
}
