/* --- HEADER  ---*/
.single-car__header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background: var(--blue-v1);
  justify-content: space-between;
  border-bottom: 2px solid white;
  position: fixed;
  width: 100%;
  transition: 0.3s;
}

.single-car__rent-btn-container {
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.single-car__rent-btn-container .rent-price {
  padding: 1rem;
  font-weight: bold;
}
.single-car__rent-btn-container .rent-btn {
  width: 300px;
  transition: 0.3s;
}

.single-car__header.header-shrink {
  padding: 0 2rem;
  transition: 0.3s;
}

.single-car__header.header-shrink .rent-btn {
  width: 150px;
  transition: 0.3s;
}

/* --- BASIC INFO --- */
.single-car__basic-info-title {
  padding-bottom: 1rem;
}

.single-car__basic-info-container {
  width: 100%;
  margin-top: 8rem;
  padding: 3rem;
  /* background: var(--light-blue); */
}
.single-car__basic-info {
  height: 500px;
  display: flex;
}

.single-car__basic-info .img-container {
  width: 50%;
  height: 100%;
  border: 3px solid white;
  border-radius: 10px;
  overflow: hidden;
}
.single-car__basic-info .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.single-car__basic-info .info-container {
  padding: 0rem 0rem 0rem 3rem;
  flex-grow: 1;
}
.single-car__basic-info .info-container .title {
  background: var(--dark-blue);
  color: white;
  padding: 1rem;
  border-radius: 10px;
}
.single-car__basic-info .info-container .info {
  columns: 2;
  /* border: 1px solid gray; */
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  /* height: 100%; */
  border-radius: 10px;
  background: white;
}
.single-car__basic-info .info-container .info p {
  display: flex;
  padding: 0.5rem 0;
}

/*  --- DETAILS ---*/
.single-car__details-container {
  display: flex;
  padding: 2rem 3rem 3rem 3rem;
}
.single-car__details {
  width: 50%;
}
.single-car__details-heading {
  padding: 1rem 0;
}
.single-car__details .row-container {
  display: flex;
  padding: 0rem 3rem;
  border-radius: 10px;
}
.single-car__details .row-container:nth-of-type(odd) {
  background-color: var(--light-blue);
}

.single-car__details .row-container .row-title {
  width: 150px;
  padding: 1rem 0;
}
.single-car__details .row-info {
  flex-grow: 1;
  padding: 1rem 0;
}

.single-car__description {
  width: 50%;
  padding-left: 3rem;
}

@media only screen and (max-width: 1024px) {
  .single-car__basic-info-container {
  }
  .single-car__basic-info .info-container {
    padding-left: 1rem;
  }
  .single-car__basic-info .img-container {
    width: 60%;
  }
  .single-car__basic-info .info-container .info {
    columns: 1;
  }
}

@media only screen and (max-width: 768px) {
  .single-car__rent-btn-container .rent-btn {
    width: 150px;
  }
  .single-car__header.header-shrink {
    transition: 0.3s;
  }
  .single-car__header.header-shrink .rent-btn {
    transition: 0.3s;
  }

  .single-car__basic-info-container {
    margin-top: 8rem;
    text-align: center;
  }
  .single-car__basic-info .info-container {
    padding: 0;
    padding-top: 1rem;
  }
  .single-car__basic-info .info-container .info {
    columns: 2;
  }
  .single-car__basic-info {
    height: auto;
    display: block;
  }
  .single-car__basic-info .img-container {
    padding: 0;
    width: 100%;
  }

  .single-car__details-container {
    display: block;
  }
  .single-car__details {
    width: 100%;
    text-align: center;
  }
  .single-car__description {
    width: 100%;
    padding: 0;
    text-align: center;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  .single-car__rent-btn-container {
    width: 100%;
    justify-content: end;
  }

  .single-car__basic-info-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .single-car__details-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .single-car__header-title {
    display: none;
  }
  .single-car__rent-btn-container {
    justify-content: space-between;
  }
  .single-car__rent-btn-container .rent-price {
    padding: 0;
  }

  .single-car__details .row-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .single-car__details .row-container .row-title {
    text-align: left;
    padding-left: 1rem;
  }
  .single-car__details .row-container .row-info {
    text-align: right;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 360px) {
  .single-car__basic-info .info-container .info {
    columns: 1;
  }
}
