.single-car__header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background: var(--blue-v1);
  justify-content: space-between;
  border-bottom: 2px solid white;
  position: fixed;
  width: 100%;
  transition: 0.3s;
}

.single-car__header .rent-btn {
  width: 300px;
  transition: 0.3s;
}

.single-car__header.header-shrink {
  padding: 0 2rem;
  transition: 0.3s;
}

.single-car__header.header-shrink .rent-btn {
  transition: 0.3s;
  width: 150px;
}

.single-car__basic-info {
  width: 100%;
  height: 400px;
  margin: 6rem 0;
  padding: 3rem;
  display: flex;
}

.single-car__basic-info .img-container {
  width: 50%;
  height: 100%;
}

.single-car__basic-info .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-car__basic-info .info-container {
  padding: 1rem 0rem 2rem 2rem;
  flex-grow: 1;
}
.single-car__basic-info .info-container .info {
  columns: 2;
  border-left: 1px solid gray;
  padding-left: 1rem;
}
.single-car__basic-info .info-container .info p {
  display: flex;
  padding: 0.5rem 0;
}
