.button {
  width: 100%;
  padding: 1rem;
  border: 0;
  background: linear-gradient(90deg, rgba(255, 64, 87, 1) 0%, rgba(150, 80, 150, 1) 100%);
  border-radius: 5px;
  margin: 1rem 0rem;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(150, 80, 150, 1) 0%, rgba(255, 64, 87, 1) 100%);
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: -1;
}

.button:hover::before {
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .button {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}
