.filter-bar {
  width: 100%;
  height: 2rem;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  background: white;
}

select {
  width: 100%;
  border: 1px solid white;
  padding-left: 1rem;
}
